body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.hi{
    color: green;
}
.flaxible-container{
    display: flex;
    margin-bottom: 150px;
}
.oh{
    width: 50%;
    padding-left: 5%;  
}
.image{
    width: 50%;
    padding-left: 5%;
    padding-top: 4%;
}
.oh img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
.exprience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#web-dev{
    border-image: linear-gradient(rgb(179, 114, 114), rgb(93, 92, 204));
    border-image-slice: 1;
    border-left: 7px solid;
}
#web-dev-id{
    border-image: linear-gradient(rgb(159, 189, 78), rgb(75, 126, 75));
    border-image-slice: 1;
    border-left: 7px solid;
}
footer p{
    text-align: center;
}